@font-face {
  font-family: light;
  src: url("./assets/Avenir\ Light.ttf");
}
@font-face {
  font-family: heavy;
  src: url("./assets/Avenir\ Heavy.ttf");
}
@font-face {
  font-family: regular;
  src: url("./assets/Avenir\ Regular.ttf");
}

.App {
  text-align: center;
  position: relative;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.background {
  position: absolute;

  z-index: -1;
  width: 100%;
  background: rgba(0, 187, 255, 1);
  height: 520px;
}
.back-image {
  left: 0;
  object-fit: cover;
  width: 100%;

  height: 100%;
  /* object-position: 0 -20px; */
  opacity: 0.55;
}
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}
.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}
